body {
    background-color: #90A4AE;
    font-family:'Helvetica', 'Arial', 'sans-serif';
    margin: 0;
    padding: 0;
    color: #212121;
    /* width: 70%; */
}

nav {
    background-color: #263238;
    margin: 0;
    width: 25%;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    text-align: center;
}

nav ul, footer ul {
    padding: 0;
    list-style: none;
    font-weight: bold;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    margin-bottom: 2em;
}

nav ul li a{
    color: #ECEFF1;
}

nav ul {
    margin-top: 5em;
}

/* nav ul li, footer ul li {
    display: inline;
    margin: auto;
    margin-left: 20px;
} */

.container {
    margin-left:25%;
    padding:1px 5em;
    /* background-color: red; */
    /* height:1000px; */
}

.img-profil {
    border-radius: 50%;
    border-style: solid;
    border-color: #37474F;
    border-width: 0.5em;
    width: 40%;
    margin-top: 33%;
 }

.bubble {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    background-color: #FAFAFA;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    padding: 2em 3em 2em 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a {
    text-decoration: none;
    color: #607D8B;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5em;
    color: #ECEFF1;
    margin-bottom: 0.3em;
}

h2 {
    font-size: 3em;
    margin: 0px;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

.blogBubble {
    margin-top: 5em;
    background-color: crimson;
    background-color: #FAFAFA;
    border-radius: 2em;
    padding: 2em 3em 2em 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

em {
    font-style: normal;
    font-weight: bold;
}

 .description {
     margin-top: 0;
     font-style: italic;
     color: #CFD8DC;
     font-family: "Cambria", "Cochin", "Georgia", "Times", "Times New Roman", "serif"
 }

 .secret {
     /* margin-top: 20em; */
     color: rgba(255, 255, 255, 0.05);
     font-size: 1em;
     font-family: "Lucida Console", "Monaco", "monospace";
     position: absolute;
     padding-right: 5em;
 }

 @media screen and (max-width: 865px) {
    h1 {
        font-size: 2.2em;
    }
    p.description {
        font-size: 1.2em;
    }
    .container {
        padding:1px 3em;
    }
    .blogBubble {
        border-radius: 1.5em;
        padding: 1.5em 2.25em 1.5em 2.25em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
 }

 @media screen and (max-height: 750px) {
    .img-profil {
        margin-top: 22%;
    }
}

 @media screen and (max-width: 650px), (max-height: 700px) {
     nav {
         width: 100%;
         height: auto;
         position: static;
     }
     .container{
         margin-top: 2em;
         padding: 0 1em;
         margin-left: 0;
     }
     .bubble {
         position: static;
         top: None;
         transform: None;
         border-bottom-left-radius: 0;
         border-top-right-radius: 1.5em;
         border-top-left-radius: 1.5em;
         padding: 1.5em 2.25em 1.5em 2.25em;
     }
     .img-profil {
        margin-top: 11%;
     }
     nav h1 {
         margin-top: 0.4em;
     }
     nav ul {
         margin-top: 3em;
         padding-bottom: 0.5em;
     }
     .blogBubble {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .secret {
        visibility: hidden;
    }
    p {
        font-size: 1.2em;
    }
    h2 {
        font-size: 1.9em;
    }
 }

 @media screen and (max-height: 700px) and (min-width: 500px) {
     .img-profil {
         width: 20%;
         margin-top: 5%;
     }
     nav li {
         display: inline;
         margin-right: 2em;
     }
     .secret {
         visibility: hidden;
     }
 }

/* footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
} */