<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <img class="img-profil" src="/assets/img/profil_ln.jpg">
      <h1>Quentin DANJOU</h1>
      <p class="description">Computer Science</p>
      <ul>
	      <li><a href="/">Home</a></li>
	      <li><a href="/about">About</a></li>
	      <li><a href="https://www.linkedin.com/in/danjou" target="_blank">CV</a></li>
	      <li><a href="/blog">Blog</a></li>
      </ul>
      </nav>
    <div class="container">
      
      {{ content }}

    </div><!-- /.container -->
    <footer>
    </footer>
  </body>
</html>
